{% load static %}

<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>สาขาวิทยาการคอมพิวเตอร์ - สุดเท่</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static\css\style.css" />
    <link rel="icon" href="static/image/logoCS.png" type="image/x-icon" />
  </head>
  <body id="page-top">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
          <div class="logo-container">
            <img
              src="static/image/logoCS.png"
              alt="Logo"
              width="40"
              height="40"
              class="d-inline-block align-text-top"
            />
            <a class="navbar-brand" href="#page-top">Computer Science</a>
          </div>
          <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">หน้าหลัก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#curriculum3">หลักสูตร</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#finish4">จบแล้วทำอาชีพอะไรได้บ้าง</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#studentwork5">ผลงานนักศึกษา</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#activity1">กิจกรรม</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact2">ติดต่อเรา</a>
              </li>

              <button
                type="button"
                class="btn btn-primary"
                onclick="redirectTo('https://www.oass.sskru.ac.th/std.sskru/s1.html?fbclid=IwAR2S1BxOZNeff9TkRAGmhRp3tchZbF61JbWnWK73VlBNTO4Z4aZnYzwc4lw')"
              >
                สมัครเรียน
              </button>
            </ul>
          </div>
        </div>
      </nav>

      <section class="hero" id="home">
        <div class="container">
          <h1>สร้างอนาคตด้วยวิทยาการคอมพิวเตอร์</h1>
          <p>เรียนรู้ สร้างสรรค์ และพัฒนานวัตกรรมที่จะเปลี่ยนแปลงโลก</p>
          <button
            type="button"
            class="btn"
            onclick="redirectTo('https://www.oass.sskru.ac.th/std.sskru/s1.html?fbclid=IwAR2S1BxOZNeff9TkRAGmhRp3tchZbF61JbWnWK73VlBNTO4Z4aZnYzwc4lw')"
          >
            สมัครเรียน
          </button>
        </div>
      </section>
    </header>
    <main>
      <!--curriculum-->
      {% block curriculum %}
      <div class="container" id="activity1">
        <!--content-->
        <h1>curriculum</h1>
      </div>
      {% endblock curriculum %}

      <!--finish-->
      {% block finish %}
      <div class="container" id="finish4">
        <!--content-->
        <h1>finish</h1>
      </div>
      {% endblock finish %}

      <!--studentwork-->
      {% block studentwork %}
      <div class="container" id="studentwork5">
        <!--content-->

        <h5 class="fw-bold fs-2 my-4">ศิษย์เก่า สาขาวิทยาการคอมพิวเตอร์</h5>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="5"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="6"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="7"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="8"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="9"
            ></li>
          </ol>
          {% comment %} ตรงนี้เป็นจุดเริ่ม carousel {% endcomment %}
          <div class="carousel-inner">
            <div class="carousel-item active d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student1.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student2.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student3.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student4.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student5.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student6.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student7.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student8.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student9.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item d-flex justify-content-center">
              <div class="card" style="width: 30rem">
                <img
                  src="static/image/student10.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
        <!--เนื้อหาผลงานนักศึกษา-->
        <h5 class="fw-bold fs-2 my-4">ผลงานนักศึกษา</h5>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-4">
              <div
                class="card h-100 d-flex flex-column mx-auto"
                style="width: 100%"
              >
                <img
                  src="static/image/studentwork2.jpg"
                  class="card-img-top"
                  alt="Student Work"
                />
                <div class="card-body">
                  <h5 class="card-title fw-bold">movie infomation</h5>
                  <p class="card-text">
                    แอปหาข้อมูลหนังด้วย api tmdb จากนักศึกษาชั้นปีที่3,2,1
                    เป็นprojectงาน hackathon swift coding
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <div
                class="card h-100 d-flex flex-column mx-auto"
                style="width: 100%"
              >
                <a href="https://www.sisaket-charity.net/" target="_blank">
                  <img
                    src="static/image/studentwork1.jpg"
                    class="card-img-top"
                    alt="Student Work"
                  />
                </a>
                <div class="card-body">
                  <h5 class="card-title fw-bold">เสื้อเฉลิมฉลองเมือง 242 ปี</h5>
                  <p class="card-text">
                    ระบบสำหรับสั่งจองฉลองเมือศรีสะเกษ​ 242 ปี พัฒนาโดย
                    ผู้ช่วยศาสตราจารย์พิศาล สุขขี และนักศึกษาชั้นปีที่ 3 ของ
                    สาขาวิชาวิทยาการคอมพิวเตอร์
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <div
                class="card h-100 d-flex flex-column mx-auto"
                style="width: 100%"
              >
                <img
                  src="static/image/studentwork3.jpg"
                  class="card-img-top"
                  alt="Student Work"
                />
                <div class="card-body">
                  <h5 class="card-title fw-bold">น้องลำดวน</h5>
                  <p class="card-text">
                    โปรเจคคณาจารย์พัฒนาร่วมกันกับนักศึกษาในสาขาวิทยาการคอมพิวเตอร์
                    สู่การใช้งานเพื่อการส่งเสริมการท่องเที่ยวในจังหวัดศรีสะเกษ
                    ในฐานะ 1 ใน 10 เมืองรองต้องเที่ยว
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1>studentwork</h1>

      </div>
      {% endblock studentwork %}

      <!--activity-->
      {% block activity %}

      <div class="container" id="activity1">
        <!--content-->
        <h1>activity</h1>

      <div class="container px-4 px-lg-5 mb-4" id="activity1">
        <div class="feature-grid">
          <div class="feature-card">
            <img
              src="static\image\450055683_863892982450981_151007795583764724_n.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <h3>กิจกรรมของสาขาเรา</h3>
            <p>
              ssk robotic
              โดยการจัดงานครั้งนี้มีผู้เข้าร่วมการแข่งขันจากทั่วประเทศ
              ซึ่งมีจำนวนทั้งสิ้น 1,546 คน แบ่งออกเป็น ผู้ฝึกสอน 568 คน และ
              นักเรียน 978 คน โดยมีทีมเข้าร่วมทั้งสิ้น 481 ทีม
              และนอกจากนี้นักศึกษาในสาขาวิชาวิทยาการคอมพิวเตอร์
              ได้เป็นส่วนสำคัญในการจัดเตรียมงานต่าง ๆ
              ตลอดจนรับหน้าที่เป็นผู้ตัดสินให้คะแนน ในการแข่งขันอีกด้วย
            </p>
          </div>
          <div class="feature-card">
            <img
              src="static\image\456030320_892031239637155_3033459481031134068_n.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <div class="feature-icon"></div>
            <h3>กิจกรรมของสาขาเรา</h3>
            <p>
              โดยกิจกรรมที่จัดขึ้นเมื่อวันที่ 16 สิงหาคม 2567 ณ ห้อง 4408
              คณะศิลปศาสตร์และวิทยาศาสตร์ ประสบความสำเร็จอย่างงดงาม
              ด้วยทีมเข้าร่วมทั้งสิ้น 45 ทีม แบ่งเป็นรุ่น Junior, Senior และ
              Senior Open ทั้งหมด 3 รุ่น มีน้อง ๆ เข้าร่วมกว่า 1 ร้อยชีวิต ..
              ทางสาขาวิชา ขอแสดงความยินดีกับน้อง ๆ ผู้ได้รับรางวัลทุก ๆ ท่าน
              และขอชื่นชมกับความพยายามของทุกทีมที่ร่วมแข่งขัน ความคิดสร้างสรรค์
              และทักษะของน้อง ๆ ที่นำมาใช้ในการแข่งขันในครั้งนี้
            </p>
          </div>
          <div class="feature-card">
            <img
              src="static\image\qrcode_125355908_e7edc0e3789a98c6e7cc24f7eb938987.png"
              class="img-thumbnail"
              alt="..."
            />
            <div class="feature-icon"></div>
            <h3>ดูเพิ่มเติม</h3>
            <p>SCANME</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="container px-4 px-lg-5">
        <div class="feature-grid">
          <div class="feature-card">
            <img
              src="static\image\453246140_879399800900299_7885944663998061476_n.jpg"
              class="img-thumbnail"
              alt="..."
            />
            <div class="feature-icon"></div>
            <h3>กิจกรรมอบรม</h3>
            <p>
              สาขาวิทยาการคอมพิวเตอร์ จับมือกับ บริษัท IMAKE Innovation และ
              หอการค้าจังหวัดศรีสะเกษ
              ร่วมมือกันพัฒนาเยาวชนของจังหวัดศรีสะเกษเพื่อต่อยอด สู่การแข่งขัน
              Arduino Education Day Thailand 2024 .. ด้วยการจัดอบรม Arduino
              Student Kit ฟิสิกส์สัประยุทธ์ ณ ห้อง 4408
              คณะศิลปศาสตร์และวิทยาศาสตร์ มหาวิทยาลัยราชภัฏศรีสะเกษ ในวันที่ 27
              - 28 ก.ค. 2567 โดยมีน้อง ๆ นักเรียนเข้าร่วมการอบรมกว่า 200 คน
            </p>
          </div>
          <div class="feature-card">
            <iframe
              src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fcomsci.sskru%2Fvideos%2F480398971598042%2F&show_text=false&width=267&t=0"
              width="267"
              height="476"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
              allowfullscreen="true"
            ></iframe>
            <div class="feature-icon"></div>
            <h3>กิจกรรมอบรม</h3>
            <p>Swif coding</p>
          </div>
          <div class="feature-card">
            <iframe
              src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F247180088225387%2F&show_text=false&width=267&t=0"
              width="267"
              height="476"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
              allowfullscreen="true"
            ></iframe>
            <div class="feature-icon"></div>
            <h3>กิจกรรมอบรม</h3>
            <p>ความรู้และทักษะทางด้านดิจิทัลให้โรงเรียนวัดหลวงวิทยา</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="container px-4 px-lg-5">
        <div class="feature-grid">
          <div class="feature-card">
            <img src="static\image\451093020_361438926980574_4049424285477342336_n.jpg" class="img-thumbnail" alt="...">
            <div class="feature-icon"></div>
            <h3>กิจกรรมรับน้องสาขาเรา</h3>
            <p></p>
          </div>
          <div class="feature-card">
            <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fcomsci.sskru%2Fvideos%2F1143664050269365%2F&show_text=false&width=267&t=0" width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            <div class="feature-icon"></div>
            <h3>กิจกรรมรับน้องสาขาเรา</h3>
            <p>เพิ่มเติม</p>
         
        </div>
      </div>
      {% endblock activity %}

      <!--contact-->
      {% block contact %}
        <div class="container" id="contact2">
        <h1>ติดต่อเรา</h1>
        <hr />
        <h2 class="empty-line"></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- แถวติดต่อ (ซ้ายสุด) -->
          <div class="col text-center">
            <div class="contact-item">
              <div class="contact-icon-text">
                <img
                  src="https://img.icons8.com/?size=256w&id=tuSyDA4Jkbyh&format=png&color=FFFFFF"
                  class="contact-icon"
                  alt="โทรศัพท์"
                />
                <p><strong>โทรศัพท์:</strong> (+66) 045-643-600-5</p>
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-icon-text">
                <img
                  src="https://img.icons8.com/?size=256w&id=j9BCUGfss2SX&format=png&color=FFFFFF"
                  class="contact-icon"
                  alt="โทรศัพท์มือถือ"
                />
                <p><strong>โทรศัพท์มือถือ:</strong> 084-298-2456</p>
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-icon-text">
                <img
                  src="https://img.icons8.com/?size=256w&id=dCRS0LsfeSHc&format=png&color=FFFFFF"
                  class="contact-icon"
                  alt="Facebook"
                />
                <p>
                  <strong>Facebook:</strong>
                  <a
                    href="https://www.facebook.com/comsci.sskru"
                    target="_blank"
                    >วิทยาการคอมพิวเตอร์</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-icon-text">
                <img
                  src="https://img.icons8.com/?size=256w&id=2963&format=png&color=FFFFFF"
                  class="contact-icon"
                  alt="เว็บไซต์"
                />
                <p>
                  <strong>เว็บไซต์:</strong>
                  <a href="https://www.sskru.ac.th">sskru.ac.th</a>
                </p>
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-icon-text">
                <img
                  src="https://img.icons8.com/?size=256w&id=124379&format=png&color=FFFFFF"
                  class="contact-icon"
                  alt="อีเมล"
                />
                <p>
                  <strong>อีเมล:</strong>
                  <a href="mailto:webmaster@sskru.ac.th"
                    >webmaster@sskru.ac.th</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-icon-text">
                <img
                  src="https://img.icons8.com/?size=256w&id=7880&format=png&color=FFFFFF"
                  class="contact-icon"
                  alt="ที่อยู่"
                />
                <p>
                  <strong>ที่อยู่:</strong>
                  <a
                    href="https://maps.app.goo.gl/oKurKgPixATmhneMA"
                    target="_blank"
                    >มหาวิทยาลัยราชภัฏศรีสะเกษ</a
                  >
                </p>
              </div>
            </div>
          </div>

          <!-- แถวคุณสมบัติผู้สมัคร (กลาง) -->
          <div class="col">
            <h3 class="fw-semibold">#คุณสมบัติผู้สมัคร</h3>
            <div class="m-auto row row-cols-1 gx-5">
              <div class="col">
                <ul style="list-style: none">
                  <li>
                    <b class="fs-5">จบการศึกษาในระดับ</b>
                    <ul>
                      <li>มัธยมศึกษาตอนปลาย</li>
                      <li>ปวช. ปวส.</li>
                      <li>ปริญญาตรีทุกสาขา</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- แถว QR (ขวาสุด) -->
          <div class="col text-center">
            <h3 style="margin-bottom: 15px">
              สแกน QR Code เพื่อติดตามข่าวสารและข้อมูลเพิ่มเติม
            </h3>
            <div class="qr-section" style="margin-bottom: 20px">
              <div class="contact-item">
                <img
                  src="https://comsci-sskru.web.app/assets/S_gainfriends_2dbarcodes_GW-CjIeyaYr.png"
                  alt="QR Code"
                  class="qr-code"
                  style="
                    width: 120px;
                    height: auto;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                  "
                />
              </div>
              <div class="contact-item">
                <img
                  src="https://comsci-sskru.web.app/assets/TItok-CH74RJSP.png"
                  alt="QR Code"
                  class="qr-code"
                  style="
                    width: 200px;
                    height: auto;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                  "
                />
              </div>
              <div class="contact-item">
                <img
                  src="https://comsci-sskru.web.app/assets/FacebookLogo-D-ZSw0wB.png"
                  alt="QR Code"
                  class="qr-code"
                  style="
                    width: 200px;
                    height: auto;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock contact %} {% block content %}
      <!--no tuch-->
      {% endblock content %}

      <!--footer-->
      {% block footers %}
      <!--no tuch-->
      {% endblock footers %}
    </main>
    <script src="static\js\javascript.js"></script>
  </body>
</html>